
/* Image uplaod box =====================
=======================================*/
body{
  padding-top: 90px;
}
.previewbox {
  display: block;
  position: relative;
  top: 0px;
  min-width: 700px;
  float: right;
}



/* count down timer =====================
=======================================*/
/**
 *  This element is created inside your target element
 *  It is used so that your own element will not need to be altered
 **/
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
 *  This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *  Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic';
}

/**
 *  Time numbers, ie: 12
 **/
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}


 /* Like Unlike block
===============================*/
.img-like a{
  text-decoration: none;
  color: #515151;
  cursor: pointer;

}
.btntext {
  margin-left: -8px;
}
.img-like a:hover {
  color: #f18c1c;
}



 /* Comment Section
===============================*/
  #size1{
    display: block;
    width: 40px;
    height: 40px;
  }
  .user-details{
    display: block;
    margin-left: 10px;

  }
  .article-image {
    display: block;
    margin-left: 50px;

  }
  .comment-method{
    display: block;
    margin-left: 60px;
    margin-top: 5px;
  }
  .text-width{
    display: block;
    width: 70%;
    margin-left: 60px;
  }
  .comment-box{
    padding: 0px 10px;
  
}
.comment-box-blog {
  display: block;
  
  
}
.comment-block{
  display: block;
  padding: 4px 0px;
}
.comment-view-blog {
  overflow: scroll;
  min-height: 0px;
  max-height: 400px;
  overflow-x: hidden;
}
.inputbox-blog {
  display: block;
  margin-top: 20px;
}



/*  SIDEBAR
===============================*/

#sidebar{
  margin-bottom: 20px;
}

#sidebar .widget-sidebar{
  background-color: #fff;
  padding: 5px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#sidebar .widget-sidebar h3.title-widget-sidebar{
  font-size: 14px;
  border-bottom: 2px solid #e5ebef;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

#sidebar .widget-sidebar h3.title-widget-sidebar:after{
  /*border-bottom: 2px solid #C75E33;*/
  width: 100px;
  display: block;
  position: absolute;
  content: '';
  padding-bottom: 10px;
}

#sidebar .widget-sidebar .content-widget-sidebar ul{
  padding-left: 0;
  list-style: none;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li.recent-post{
  height: 70px;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li .thumbnail{
  border: none;
}


#sidebar .widget-sidebar .content-widget-sidebar ul li img{
  width: 100px;
  height: 70px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li img:hover{
 
}

#sidebar .widget-sidebar .content-widget-sidebar ul li a{
  text-decoration: none;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li h5{
  color: #000;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li h5:hover{
  color: #C75E33;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li p small,
#sidebar .widget-sidebar .content-widget-sidebar ul li.recent-post i.fa{
  font-style: italic;
  color: #777;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li.archive a h5:hover{
  padding-left: 10px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
}

#sidebar .widget-sidebar .content-widget-sidebar ul li.categories a h5:hover{
  padding-left: 10px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
}

/*


/* BLOG CONTENT
===============================*/

#content aside{
        display: inline-block;
        width: 100%;
      margin-bottom: 20px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#content aside img{
      position: relative;
      width: 100%;
      height: 257px;
}
#content aside .posted-date{
      position: absolute;
      top: 0px;
      padding: 5px 10px;
      background-color: #515151;
      color: #fff;
}


.footer-username {
  color: #fff;
}

#content aside .content-title{
      background-color: #fff;
      padding: 20px 20px;
}

#content aside .content-title h3{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14pt;
}

#content aside .content-title a{
      text-decoration: none;
      color: #515151;

}

#content aside .content-title a:hover{
      color: #f18c1c;
}

#content aside .content-footer{
      padding: 10px 20px;
      background-color: #515151;
}

#content aside .content-footer img{
      width: 33px;
      height: 33px;
      border-radius: 100%;
      margin-right: 10px;
      border: 2px solid #000;
}


#content aside .content-footer span.pull-right{
      margin-top: 7px;
      color: #fff;
}

#content aside .content-footer span.pull-right a{
      color: #fff;
      text-decoration: none;
      cursor: default;
}

/*#content aside .content-footer span.pull-right a:hover{
      color: #C75E33;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
           -o-transition: all 1s ease;
}*/

#content aside .content-footer span.pull-right a i.fa{
      margin-left: 10px;
}


/* SINGLE BLOG
===============================*/

#main-single-content{
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      background-color: #fff;
      margin-bottom: 20px;
}

#main-single-content > img{
      width: 100%;
      height: 450px;
}

.content-single{
      padding: 20px;
}

.content-single .tag span{
      margin-right: 7px;
}

.content-single h2{
      font-weight: 600;
      margin-bottom: 10px;
}

.content-single p{
      font-weight: 400;
}

.content-single .hr-single{
      border-bottom: 2px dashed #ddd;
      margin-bottom: 20px;
      margin-top: 20px;
}

.content-single .tag a{
      color: #999;
}

.content-single .tag a:hover{
      color: #C75E33;
}

.content-single .tag i.fa{
      margin-right: 7px;
      color: #ddd;
}

.content-single .tag i.fa.fa-circle{
      font-size: 6pt;
      color: #C75E33;
}
#bloglike a{
      color: #999;
      cursor: pointer;
      text-decoration: none;
}

#bloglike a:hover .fa-comments , #bloglike a:hover{

      color: #C75E33;
}
#bloglike a:hover .fa-thumbs-up , #bloglike a:hover .fa{

      color: #C75E33;
}

#bloglike i.fa{
      margin-right: 7px;
      color: #ddd;
}

/******------------ Audience Review -----------****/
.review-block {
  display: block;
  margin: 0px;

  margin-left: 50px;
}
.review-block h5{
  text-align: center !important;
  background-color: #515151;
  color: #fff;
  padding: 8px 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: capitalize;

}
.review-body {
display: block;
margin: 0px;
margin-left: 50px;
margin-bottom: 8px;
}

.review-body p{
text-align: left;
padding: 6px 6px 0px 6px;
margin-bottom: 0px;
}
.review-body p a{
text-decoration: none;
}
.author {
  display: block;

padding: 0px 6px 0px 6px;
  
}
.form-entry {
  display: block;

margin-left: 50px;

}
.pop a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 16px;
}

/******------------ Custom Radio button and checkbox -----------****/



.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: rebeccapurple;
    color: #bbb;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

/*********------------Performance page css *********------------*/
.header-text{
  display: block;
}
.header-text h4{
  margin:  0 auto;
  min-width: 33%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  color:#515151;
}
.filter-block {
  display: block;
  padding-top: 20px;

}

/***** performace page *****/
.performance-button{
  display: block;
  padding: 0px 0px 10px 0px ;
  text-decoration: none;
}
.perf a{
  text-decoration: none;
}

.performance-wrapper{
  display: block;
  border: 1px solid #f2f2f2;
  border-top: 2px solid #f18c1c;
}
.performance-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 5px 10px;
}
.performance-venue {
  
  padding: 5px 10px;
  height: 50px;

}
.map-icon {
  width: 7%;
}
.venue-data {
  width: 93%;
}
.performance-date {
  font-size: 10px;
  padding: 5px 10px;
}
.userinfo-performance {
  display: flex;
  align-items: center;
  overflow: hidden;

  padding: 5px 6px;
  background-color: #f2f2f2;
}
.userinfo-performance a{
  padding-left: 5px;
}

/******** --- scout page ---------**********/

#content-scout aside{
        display: inline-block;
        width: 100%;
      margin-bottom: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.2);

}

#content-scout aside img{
      position: relative;
      width: 100%;
      height: 200px;
}
.headerscout-block{
  padding: 10px 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.Private {

  background-color: #515151;
}
.Corporate {
  background-color: #f18c1c;
}
#content-scout aside .posted-date{
     
      color: #fff;
}
#content-scout aside .posted-type{
     
      color: #fff;
      text-transform: capitalize;
      font-weight: bold;  
}


.footer-username {
  color: #fff;
}

#content-scout aside .content-title{
      background-color: #fff;
      padding: 20px;
      border-top: 1px solid #f4f4f4;
}

#content-scout aside .content-title h3{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14pt;
}

#content-scout aside .content-title a{
      text-decoration: none;
      text-transform: capitalize;
}

#content-scout aside .content-title a:hover{
      color: #C75E33;
}

#content-scout aside .content-footer{
      padding: 10px 20px;
      background-color: #515151;
}

#content-scout aside .content-footer img{
      width: 33px;
      height: 33px;
      border-radius: 100%;
      margin-right: 10px;
}


#content-scout aside .content-footer span.pull-right{
      margin-top: 7px;
      color: #fff;
}

#content-scout aside .content-footer span.pull-right a{
      color: #fff;
      text-decoration: none;
}

#content-scout aside .content-footer span.pull-right a:hover{
      color: #C75E33;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
           -o-transition: all 1s ease;
}

#content-scout aside .content-footer span.pull-right a i.fa{
      margin-left: 10px;
}
.imgscout {
  width: 100%;
  height: 100%;
  border: 1px solid #f2f2f2; 
  border-bottom: 0px;
}
.scoutuserprofile {

  margin-right: 8px;

}
.scoutuser_name a {
  display: block;
  font-weight:bold;
  padding-top: 6px;
}
.scout-sidebar {
  width: 100%;
  height: 348px;

  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
  /*
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;*/

}
.scout-sideheader {
  display: inline-block;
  width: 100%;
  background-color: #515151;
  padding: 8px 20px;

}
#scouticonsize{
  width: 30px;
  height: 30px;

}
.description-block{
  padding: 5px 10px;
  border-bottom: 1px dotted #f2f2f2; 
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}
.scout-title{
  display: block;
  width: 100px;
  float: left;
  font-weight: bold;
  text-transform: capitalize;
}
.scout-titledata {
  display: block;
  padding-left: 100px;
}
.scout-information {
  
  
  border-bottom: 1px solid #f3f3f3;

}

.timeleft{
  text-transform: capitalize;
}
.title-bar {
  width: 100%;
  min-height: 100px;
  opacity: 0.6;
  padding: 10px 10px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden;
  display: inline-flex;
  position: relative;


}
.lastdate-on {
  color: #515151;
  background-color: #fff;
  text-transform: uppercase;
  padding: 3px 5px 0px 16px;
  margin-bottom: 0px;
}
.title-bar .tit-scout {
  margin: auto 0px;
  font-size: 24px;
  padding-left: 10px;
 width: 70%;
  float: left;
  text-transform: capitalize;


}
.title-bar .butt-scout {

  margin: auto 0px;
  width: 30%;
  font-size: 24px;
  padding-left: 30px;
  float: right;
  color: #f18c1c;


}
.title-bar .tit-scout p{

}
.title-bar .butt-scout button{
  
}
.button-block{
  display: block;
  width: 100%;

}


.singlescout-poster{
  display: block;
  overflow: hidden;
}
.rights-block {
  display: block;
  border: 1px solid #f2f2f2;
}
.rights-block p {
  padding: 10px 20px 0px 20px;
  text-align: left;
  text-transform: capitalize;
}
.rights-block h3 {
  padding:  10px 20px;
  margin:  0px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid #f2f2f2; 
}

.scout-contenttab {
}

.content-footerscout{
  padding: 6px 20px;
  background-color: #515151;
  margin-bottom: 20px;
}

 .content-footerscout img{
      width: 33px;
      height: 33px;
      border-radius: 100%;
      margin-right: 10px;
}


 .content-footerscout span.pull-right{
      margin-top: 7px;
      color: #fff;
}

 .content-footerscout span.pull-right a{
      color: #fff;
      text-decoration: none;
}

 .content-footerscout span.pull-right a:hover{
      color: #C75E33;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
           -o-transition: all 1s ease;
}

 .content-footerscout span.pull-right a i.fa{
      margin-left: 10px;
}

.prize-block {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
}
.prize-block .p-title {
  padding-left: 20px;
  text-transform: uppercase;
  float: left;
}
.prize-block .p-value {
  float: right;
  padding-right: 20px;
  color: #f18c1c;
  font-size: 16px;
  font-weight: bold;
}

.p-desc{
 }
ul.ul-type-a {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
}
ul.ul-type-a .fa {
  line-height: 1.428571429;
}
    /* ul type a */
    ul.ul-type-a > li {
        clear: both;
        padding: 8px 0;
        margin: 0 15px;
        border-bottom: #e6e6e6 solid 1px;
    }
    ul.ul-type-a > li:hover {
        background-color: #eee;
    }
    ul.ul-type-a > li:last-child {
        border-bottom: none;
    }
    ul.ul-type-a > li > span.x-label {
        float: left;
        clear: both;
        font-size: 12px;
        color: #888;
    }
    ul.ul-type-a > li > span.x-content {
        display: block;
        float: none;
        clear: both;
    }
    ul.ul-type-a > li > span.x-content > span.x-content-inner {
        display: block;
        margin-left: 20px;
    }
    ul.ul-type-a > li > span.x-label > .fa, 
    ul.ul-type-a > li > span.x-content > .fa {
        float: left;
        margin-right: 4px;
        color: #888;
    }
    .addressmap-block{
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    .s-address{
      display: block;
      padding: 10px 5px 10px 20px;
      border: 1px solid #f2f2f2;
      text-transform: capitalize;

    }
    .s-map {
      display: block;
      border: 1px solid #f2f2f2;
    }

/******** --- image caption ---------**********/


figure {
 
  position: relative;
  overflow: hidden;
}
figcaption {
  position: absolute; 
  display: block;
  width: 200px;
  margin:0 auto;
  padding:15px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0);
  transition: background-color .8s ease;
  line-height: 1.33em;
}

figure:hover figcaption {
  bottom:0;
  background-color: rgba(0,0,0,.3);
  transition: background-color .5s linear;
}
.scoutevent a {
  text-decoration: none;
}
.scoutuserimg-size {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.scoutusername{
  display: block;
  width: 100%;
  margin-top: 7px;


}
.scoutusername p{
  display: block;
  width: 100%;
  margin-bottom: 0px;
  

}

.scoutusertitle {
  display: block;
}
.scoutusertitle p{
  display: block;
  text-transform: capitalize;
  min-width: 150%;
}
/***********---------------Notification block --------------******************/
.notification{
  
  
}
.notif-block{
  display: block;
  width: 100%;
  padding: 0px 8px;
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;
}
.notif-icon{
  display: block;
  padding-right: 8px;
  float: left;
  
}
.notif-icon img {
  width: 50px;
  height: 50px;

}
.notif-user {
  display: block;
  padding-top: 8px;
  float: left;
  padding-right: 8px;
   

}
.notif-user a {
  font-weight: bold;
  text-decoration: none;
 
}
.notif-story {
  display: block;
  padding-top: 8px;
  

}
.notif-story p{

  margin-bottom: 0px;
  text-decoration: none;
}
.notif-timestamp {
  display: block;
  padding-bottom: 9px;
}
.notif-timestamp i {
}

.see-more-block{
  display: block;
  background-color: #f2f2f2;
  text-align: center;
  padding: 3px 0px;

}
.see-more-block a {
  text-decoration: none;

  

}
.pop-username {
  display: block;
  width: 100%;
  padding-bottom: 8px;

}
.pop-img {
  display: block;
  overflow: hidden;
  min-width: 100%;
  padding-bottom: 8px;

}
.pop-title {
  display: block;
  overflow: hidden;
  padding-bottom: 20px;
}
.pop-button {
  
}
.attachedfile-block{
  display: block;
  margin-top: 20px;
}
.imgsize-insidemodal {
  width: 200px;
  height: 150px;
  float: right;

}
.videosize-modal{
  width: 200px !important;
  height: 150px !important;
  position: relative;
  left: 20px;

}

/****************** feed *******************/

.centertab li{
  float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.centertab {
  text-align: center;
}
.feed-container {
  display: block;
  overflow: hidden;
  padding: 6px 10px;
}
#feediconsize{
  width: 30px;
  height: 30px;
}
.feeduser_avatar img {
  margin: 0px 8px 0px 0px;
}
.feeduser_name {
  display: block; 

}
.feeduser_name a{
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
.feeduser_postedon{
  display: block;
  font-size: 10px;
}
.feeduser_postedon p{
  margin-bottom: 0px;
}
#postedimage {
  width: 100%;
  height: 230px;
}

.videobackground {
  background-color: #3c3c3c;
}

.like-box{
  display: block;
  margin-left: 59px;
}
.postedaudio {
  width: 100%;
  height: 230px;
}
.feedcont {
   -moz-column-width: 3em;
 -webkit-column-width: 3em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
}
.feedbox {
  display: inline-block;
  border: 1px solid #f1f1f1;
  width: 100%;
 
}
.feedbox img {
  position: relative;
}
.post-title span{
  position: relative;
  padding: 10px 10px;

}

.feedbx:hover {
  background-color: #f2f2f2;
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  /* ...and now for the proper property */
  transition:color .2s ease-out, background .2s ease-in
}

.post-title span{
  display: block;
  width: 100%;
  margin-bottom: 6px;
  border-bottom: 1px solid #f1f1f1;
}
.time-wrapper {
  font-size: 10px;
}
.comment-container {
  word-wrap: break-word;
}
.feed-container {
}


/*************-------------Menu Bar Code Only--------------*******************/
.dropdown-menu-notification{
  min-width: auto;
  width: 380px;
  padding-bottom: 0px;
}

.dropdown-menu-edited {
  min-width:auto;
  width:600px;
}

.dropdown-menu-edited li  {
  min-width:auto;
  width:20%;
  float:left;        
}

.dropdown-menu-edited li a {
  
  }

.avatar {
  width: 32px;
  height: 32px;
}

#size{
  width: 120px;
  height: 120px;
}

.search-container {
  margin-right: -75px;

}
.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top:12px;
  color: black;
}

.search-box + label .search-icon {
  color: black;
}

.search-box:hover {
  color: black;
/*background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
  box-shadow: 0 0 0 0px #3d4752;*/

}

.search-box:hover + label .search-icon {
  color: black;
}

.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}

.search-box:focus + label .search-icon {
  color: black;
}

.search-box:not(:focus) {
  text-indent: -5000px;
}
.search-icon {
  color: #515151!important;
}
.tt-dataset {
  padding:  0px 0px!important;
}
.tt-suggestion {
  padding: 6px 10px!important;
  border-bottom: 1px solid #d8d6d6;
}
#sear-box:focus {
  background-color: orange!important;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}
#menubar-avatar {
  padding: 14px 15px !important;
}
.navbar{
  border-bottom: 3px solid #eeeeee;
}

/*************-------------profile Bar Code (next bar after menu)--------------*******************/
.profile-main-block{
  padding-left: 70px;
  margin-bottom: 20px;
}
.name-block{
  display: block;
  margin-left: 30px;
  margin-top: 5px;
}
.name-space {
  display: block;
  margin-bottom: 5px;
}
.link-block {
  display: block;
  margin-top: 27px;
  margin-left: 30px;
}

/*
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
.centered-pills span { 
  float: left;
  text-align:left;
}
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
/*|*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.sub-nav-block {
  display: block;
  border-bottom: 2px solid #ececec;
}
.album-block{
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: 17px;
}
.tab-content {
  display: block;
  margin: 10px 50px;
}

/* --------------- follow button css  ---------------*/
#follow-mirror  {
  display: none;
}
#unfollow-mirror{
  display: none;
}
/*----------------- Like button css ------------------*/
#like-mirror {
  display: none;
}
#dislike-mirror{
  display: none;
}



/*--------------Flow Player ----------------------*/
.flow-player{
  width:200px;
  height: 200px;
}
/*--------------about page -------------*/
.about-details-block {
  overflow: hidden;
  display: block;
  min-width: 100%;
  padding: 3px 0px;

}
.about-title {
  float: left;
  display: block;
  width: 90px !important;
  font-weight: bold;

}
.profile-blocks{
  display: block;
  padding: 10px 0px;
}
.profile-title {
  width: 320px;
  font-weight: bold;
}
.about-talent-field {
  width: 100%;
  display: block;
  padding-top: 8px;
}
.about-talent-field span {
  
  padding: 0px 3px;
  border-bottom: 1px solid #f18c1c;
  color: #515151;
  text-transform: capitalize;
}
.text-title {
  text-transform: capitalize !important;
}
.sizeforcertificate{
  width: 200px;
  height: 200px;
}
.reward-img  {
  position: relative;
  text-align: center;
  margin-top: 10px;
}
.reward-img li {
}
.reward-img li p {
  position: absolute;
  bottom: 0px;
  padding: 5px 5px 5px 10px;
  color: #fff;
  overflow: hidden;
  background-color: #515151;
  margin: 0px;
  text-align: center;
  width: 200px;

}
a{
  text-decoration: none !important;
}
a:hover{
  color: #f18c1c;
};

/*Form Input=====================
=======================================*/
.form-control {
  font-weight: normal;
  border: 1px solid #ddd;
  -webkit-box-shadow: none !important;
  -moz-box-shadow:  none !important;
  box-shadow:     none !important;
  -webkit-border-radius:  0 !important;
  -moz-border-radius:   0 !important;
  border-radius:      0 !important;
}

.form-control:focus {
  border-color: #515151;
}
.form-box{
  display: block;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  padding:  30px 20px;
  background-color: #f9f9f9;

}
/* searchpage css =====================
=======================================*/
.personal-info {
  display: block;
  border: 1px solid #f2f2f2;
  padding: 20px 0px 0px 0px;
  border-top: 2px solid #4fc1e9;
}


.search-avatar{
  width: 80px;
  height: 80px;
  border: 2px solid #515151;

}
.center{
  display: block;
  margin: 0 auto;
}
.cityinfo {
  margin-top: 15px;
  letter-spacing: 0.8px;
  font-size: 11px;

}
.usernametext {
  margin-top: 0px;
  color: #515151;
}
.personal-footer {
  display: inline-block;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-right: 0px;
  border-top: 0px;
  margin-bottom: 10px;

}
.footertext-btn {

  margin: 0 auto;
  display: block;
  float: left;
  width: 33.33%;
  border-right: 1px solid #f2f2f2;
}

.footertext-btn:hover{
  background-color: #f2f2f2;
  -o-transition:color .1s ease-out, background 1s ease-in;
  -ms-transition:color .1s ease-out, background 1s ease-in;
  -moz-transition:color .1s ease-out, background 1s ease-in;
  -webkit-transition:color .1s ease-out, background 1s ease-in;
  /* ...and now for the proper property */
  transition:color .1s ease-out, background .1s ease-in
}
.footertext-btn h3 {
  text-align: center;
  color: #515151;
}
.footertext-btn p{
  text-align: center;

}

.personal-info:hover  {
    color: #f18c1c;
    border-top: 2px solid #f18c1c;
    -o-transition:color .8s ease-out, background 8s ease-in;
  -ms-transition:color .8s ease-out, background 8s ease-in;
  -moz-transition:color .8s ease-out, background 8s ease-in;
  -webkit-transition:color .8s ease-out, background 8s ease-in;
  /* ...and now for the proper property */
  transition:color .8s ease-out, background .8s ease-in

}
.personal-info:hover .heff {
    color: #f18c1c;
    -o-transition:color .8s ease-out, background 8s ease-in;
  -ms-transition:color .8s ease-out, background 8s ease-in;
  -moz-transition:color .8s ease-out, background 8s ease-in;
  -webkit-transition:color .8s ease-out, background 8s ease-in;
  /* ...and now for the proper property */
  transition:color .8s ease-out, background .8s ease-in

}
/******* ========== lightbox ui setting ==============
=============================================*********/
.lightcom-comment p {
  margin-bottom: 0px;
}
.light-container {
  padding 20px;
}
.light-avatar {
  width: 40px;
  height: 40px;
}

.light-name {
  padding-top: 4px;
  text-transform: capitalize;
}
.comment-wrapper {
  display: block;
  padding: 10px 15px 0px 15px;
}

/*----==================================
==========Scout search block ============*****/
.sort-button {
  padding-right: 20px;
}
.scout-search-block {
  display: block;
  overflow: hidden;
  padding: 20px 15px;
}
.filters {
  text-decoration: none;
  color: #515151;
  padding-right:15px; 
  padding-top: 6px;
  cursor: pointer;
}
.filters:hover {
  text-decoration: none;
  color: #f18c1c;
}
.filter-scout-block{
  padding:  0px 15px;
}
.margin-left15 {
  margin-left: -15px;
}
.filterbutton {
  margin-top: 20px;
  cursor: pointer;
}
.eventhid {
  cursor: pointer;
}

/* +++++++++++++++++++++++
COnnect page css ========
========================*/
.connect-block {
  border: 1px solid #f2f2f2;
  margin-bottom: 15px;
}
.connect-header {
  background-color: #f2f2f2;
  padding: 10px 10px;
  overflow: hidden;


}
.connect-header img {
  border: 2px solid #515151;
  width: 40px;
  height: 40px;
  float: left;

}
.connect-info-block {
  float: left;
  padding: 0px 0px 0px 10px;

}
.connect-name {
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-top: 4px;
  color: #f18c1c;
}
.connect-title {
  font-size: 12px;
}
.connect-date{
  float: right;
  font-size: 12px;
}

.connect-footer {
  display: block;
  overflow: hidden;
}
.connect-text {
  width: 80%;
  float: left;
  text-align: left;
  padding: 10px 4px;
  font-size: 12px;
  padding-left: 15px;
}
.connect-yes {
  width: 10%;
  float: left;
  text-align: center;
  padding: 10px 4px;
  border-left: 1px solid #f2f2f2;
  color: #515151;
  cursor: pointer;

}
.connect-yes:hover {
  background-color: #f18c1c;
  color: #ffffff;
}
.connect-yes a:hover {
  color: #515151;
}
.connect-no {
  width: 10%;
  float: right;
  text-align: center;
  padding: 10px 4px;
  border-left: 1px solid #f2f2f2;
  cursor: pointer;
}
.connect-no:hover {
  background-color: #f18c1c;
  color: #ffffff;
}
.connect-no a:hover {
  color: #515151;
}
.connect-success{
  display: block;
  padding: 6px 15px;
  background-color: #f18c1c;
}
.connect-success a{
  display: block;
  padding: 4px 5px;
  color: #fff;
}


/* =Footer
-------------------------------------------------------------- */
.footer { 
  padding:40px 0 30px 0;
  background-color:#f2f2f2;
  color:#8F8F8F;
  vertical-align:bottom;
}



.footer-light { 
  padding:40px 0 30px 0;
  background-color:#fafafa;
  color:#8F8F8F;
  vertical-align:bottom;
  border-top:1px dotted #d2d2d2;
}

.footer-light p {
  margin:0 0 5px;
}

.footer-light a {
  font-weight:400;
}

.footer-light .thumbnail {
  padding:0;
  border:0;
  border-radius:0px;
  margin-bottom:0;
}

.footer-light .thumbnail:hover {
  outline:5px solid #ff7454;
}

.footer-light .heading-footer h2, .footer-light .heading-footer h3, .footer-light .heading-footer h4 {
  margin:0 0 -2px 0;
  padding-bottom:20px;
  display:inline-block;
  font-weight:400;
  border-bottom:2px solid #ff7454;
  font-family:'Open Sans', sans-serif;
  color:#A5A5A5;
  font-size:14px;
}

.footer-light .heading-footer {
  display:block;
  margin:0 0 25px 0;
  border-bottom:1px dotted #C3C3C3;
  font-size:12px;
}

.footer-light .address {
  color:#5e5e5e;
  font-weight:400;
  margin-top:20px;
}

.footer-light .copyright {
  color:#B1B1B1;
  font-size:12px;
  font-weight:400;
  padding: 20px 0px;
}

.footer-light .footer-scrolltop-holder {
  height:30px;
  width:30px;
  background-color:#CECECE;
  text-align:center;
  float:right;
}

.footer-light .footer-info-icons {
  padding-right:15px;
  color:#8B8B8B;
}

.address {
  color:#5e5e5e;
  font-weight:400;
  margin-top:20px;
}

.copyright {
  color:#646464;
  font-size:12px;
  font-weight:400;
  color: #fff;
  font-size: 12px;  
}

footer p {
  margin:20px 0px;
}

footer a {
  font-weight:400;
}

.footer-info-icons {
  padding-right:15px;
  color:#fff;
}

.heading-footer h2, .heading-footer h3, .heading-footer h4 {
  margin:0 0 -2px 0;
  padding-bottom:10px;
  display:inline-block;
  font-weight:400;
  border-bottom:2px solid #ff7454;
  color:#515151;
  font-size:14px;
}

.heading-footer {
  display:block;
  margin:0 0 15px 0;
  border-bottom:1px slid #f18c1c;
  font-size:12px;
}

.recent-work-padding {
  padding-left:0;
  padding-right:5px;
}

.footer .thumbnail {
  padding:0;
  border:0;
  border-radius:0px;
  margin-bottom:0;
}

.footer .thumbnail:hover {
  outline:5px solid #ff7454;
}

.footer-scrolltop-holder {
  height:30px;
  width:30px;
  background-color:#353535;
  text-align:center;
  float:right;
}

.footer-scrolltop {
  font-size:16px;
  color:#fff;
  line-height:30px !important;
}

.footer-scrolltop-holder:hover {
  background-color:#ff7454;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;  
}

.footer-plus-icon {
  font-size:28px;
  color:#fff;
}